version: '3.9'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: omnichat-1.0
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    